# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea
*.DS_Store
bubble

*.pem
*.pprof

Makefile
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
compile_commands.json

bin/
lib/
